manifest {
  description = 'Filter and Count VCF'
  author = 'Neil A. Patel'
}

params {
  all_variants = '00-All_papu2.vcf'
  filtered_vcf_file_basename = '00-All_papu_filtered'
  count_file = 'count_all_papu.txt'
}

process {
  withName:filter_vcf {
    container = 'biocontainers/vcftools:v0.1.16-1-deb_cv1'
  }
  withName:count_vcf {
    container = 'pegi3s/gatk-4:4.1.4.1'
  }
}

docker {
  enabled = true
}

